﻿@model WorkScheduler.Models.Order

@{
    ViewBag.Title = "Edit";
}

<h2>Edit order</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.OrderId)

    <div class="form-group">
        @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CustomerId, new SelectList(ViewBag.Customers, "CustomerID", "CompanyName", Model.CustomerId),
                                          "Select customer", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PaymentMethod, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.PaymentMethod, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PlacementDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PlacementDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PlacementDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsCompleted, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                &emsp; &nbsp; @Html.EditorFor(model => model.IsCompleted)
                @Html.ValidationMessageFor(model => model.IsCompleted, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <p>
        @Html.HiddenFor(s => s.OrderId)
        @Html.ActionLink("Add service", "CreateForOrder", "Services", new { orderId = Model.OrderId }, null)
    </p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Cost
            </th>
            <th>
                Priority
            </th>
            <th>
                Duration
            </th>
            <th>
                Deadline
            </th>
            <th>
                Employee
            </th>
            <td></td>
            <td></td>
        </tr>

        @foreach (var service in Model.Services)
        {
        <tr>
            <td>
                @service.Name
            </td>
            <td>
                @service.Description
            </td>
            <td>
                @service.Cost
            </td>
            <td>
                @service.Priority
            </td>
            <td>
                @service.Duration
            </td>
            <td>
                @service.Deadline
            </td>
            <td>
                @if (@service.AssignedEmployeeId != null)
                {
                    @service.AssignedEmployee.FirstName
                    @service.AssignedEmployee.LastName
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Services", new { id = service.ServiceId }, null)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "Services", new { id = service.ServiceId }, null)
            </td>
        </tr>

        }
    </table>

    <div class="form-group">
        <div class="col-md-10">
            <p><b>Total value</b></p>
            @Html.TextBoxFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
