﻿@{
    ViewBag.Title = "Customer service panel";
}

<div class="jumbotron">
    <h1>Hello</h1>
    <p class="lead">Customer service account allows to:<br>
    - add new Services to Scheduler <br>
    - add new Customers <br>
    - add new Orders <br>
    </p>
</div>
