﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Work scheduler</h1>
    <p class="lead">Manage your time and be more efficient at work!</p>
    <p class="lead">Please register account if you are new user.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>


<div class="row">
</div>
