﻿@{
    ViewBag.Title = "Production panel";
}

<div class="jumbotron">
    <h1>Hello</h1>
    <p class="lead">
        Production worker account allows to:<br>
        - see tasks assigned to you
</div>


<div class="row">
</div>
